


<header class="jumbotron">
    <div class="container">
        <div class="row">
            <p style="padding: 40px;"></p>
            <div class="col-sm-4">
                <h3><img src="img/image_u3.png" class="jumboimg img-responsive"></h3>

            </div>
            <div class="col-sm-8">
                <h3 >Leveraging the power of technology to reduce your energy footprint</h3>
                <p style="padding: 10px;"></p>
                <button id="showModal" type="button" class="btn btn-contact text-center"><strong><a ui-sref="home({'#': 'contact'})" href="">Contact Us</a></strong></button>
            </div>

        </div>
        <div class="row">
            <p style="padding-bottom: 20px;"></p>
        </div>
    </div>
</header>



<div class="container">


    <section id="services">
        <div class="row" id="services-row">
            <div class="row row-center">
                <div class="col-sm-2 col-sm-push-5 text-center">
                    <h3 class="section-title">WHAT WE DO</h3>
                    <p style="padding: 10px;"></p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-sm-3 text-center services-logo s1">
                    <i class="fa fa-bolt fa-3x"></i>
                    <h4>ELECTRICAL DESIGN</h4>
                    <p>Energy efficient electrical designs focused on maximising operational efficiency and aesthetic
                        appeal.
                    </p>
                    <button class="btn btn-learn text-center"><a ui-sref="services">Learn More</a></button>
                </div>
                <div class="col-sm-3 text-center services-logo s2">
                    <i class="fa fa-leaf fa-3x"></i>
                    <h4>ENERGY MANAGEMENT</h4>
                    <p> Holistic energy management integrating technology, behavior and control mechanisms.
                    </p>
                    <button class="btn btn-learn text-center"><a ui-sref="services">Learn More</a></button>
                </div>
                <div class="col-sm-3 text-center services-logo s3">
                    <i class="fa fa-bar-chart fa-3x"></i>
                    <h4>SMART METERING</h4>
                    <p>Online energy management tools and automated reporting for property owners and
                        enterprise level energy managers. </p>
                    <!--<button id="smModalLink" type="button" class="btn btn-learn text-center" data-toggle="modal" data-target="#smModal">Learn More</button>-->
                    <button class="btn btn-learn text-center"><a ui-sref="services">Learn More</a></button>
                </div>
                <!--<div class="col-sm-2 text-center">-->
                    <!--<i class="fa fa-file-o fa-3x services-logo"> </i><i class="fa fa-check fa-2x services-logo"></i>-->
                    <!--<h4>Electricity Account Audits</h4>-->
                    <!--<p>Ensure you are being billed correctly and paying the optimal tariff-->
                    <!--</p>-->
                <!--</div>-->
                <div class="col-sm-3 text-center services-logo s4">
                    <i class="fa fa-wrench fa-3x"> </i>
                    <h4>IMPLEMENTATION</h4>
                    <p>We manage the implementation and maintenance of technological installations and optimisations
                    </p>
                    <button class="btn btn-learn text-center"><a ui-sref="services">Learn More</a></button>
                </div>
            </div>

        </div> <!-- ./services -->
    </section>
    <section id="about">
        <div class="row">
            <hr>
            <div class="row row-heading">
                <div class="col-sm-2 col-sm-push-5 text-center">
                    <h3 class="section-title">ABOUT US</h3>
                    <p style="padding: 10px;"></p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-sm-4 ani-left highlight">
                    <h4 class=""><i class="fa fa-building fa-2x about-icon"></i> Company</h4>
                    <p class="justify">Ugu Engineering Solutions was founded in 2003 as a specialised retail energy management consultancy
                        with the specific aim of addressing the need for technology driven energy efficiency solutions along
                        with instituting best behavioral practices within large energy consumer organisations</p>
                </div>
                <div class="col-sm-4 ani-up highlight">
                    <h4 class=""><i class="fa fa-eye fa-2x about-icon"></i> Vision</h4>
                    <p class="justify">We are firm believers in the need for better energy efficiency awareness and implementation in business
                        and look to leverage the power of technology to align corporate environmental and social sustainability
                        with financial bottom lines.</p>

                </div>
                <div class="col-sm-4 ani-right highlight">
                            <h4 class=""><i class="fa fa-rocket fa-2x about-icon"></i> Mission</h4>
                            <p class="justify">Our mission is to optimise energy consumption patterns and energy management practices within large
                                businesses throughout Africa and the developed world. We aim to drive this by developing and implementing
                                cutting edge hardware and software solutions, and providing turn-key energy management advisory services.</p>
                </div>
            </div>
            <p style="padding: 10px;"></p>
            <hr>
        </div> <!-- ./aboutus -->
    </section>




    <div class="row ani-up" id="clients">
        <div class="row row-heading">
            <div class="col-sm-2 col-sm-push-5 text-center">
                <h3 class="section-title">CLIENTS</h3>
                <!--<p style="padding: 10px;"></p>-->

            </div>
        </div>
        <div class="row row-center">
            <div class="col-sm-2 client-image">
                <img src="img/trulogo.jpg" class="img-client">
            </div>
            <div class="col-sm-2 client-image">
                <img src="img/Mrpricegroup.png" class="img-client">
            </div>
            <div class="col-sm-2 client-image">
                <img src="img/Woolworths%20Logo.PNG" class="img-client">
            </div>
            <div class="col-sm-2 client-image">
                <img src="img/Sparlogo.png" class="img-client">
            </div>
            <div class="col-sm-2 client-image">
                <img src="img/ackermans_logo_rgb.jpg" class="img-client">
            </div>
            <div class="col-sm-2 client-image">
                <img src="img/sportsmans-warehouse-logo.png" class="img-client">
            </div>
            <div class="col-sm-2 client-image">
                <img src="img/logo.png" class="img-client">
            </div>
        </div>
        <div class="row row-content">

        </div>
        <p style="padding: 10px;"></p>
        <hr>
    </div> <!-- ./clients -->
    <div class="row" id="contact">
        <div class="row row-content">
            <div class="col-sm-5 ani-left">
              <div class="col-sm-12">
                  <h4>SEND US A MESSAGE</h4>
              </div>
                    <form class="form-style" role="form" action="mail_handler.php" method="post">
                        <input type="text" class="" name="name" placeholder="Name"/>
                        <input type="text" class="" name="company" placeholder="Company"/>
                        <input type="text" class="" name="email" placeholder="Email"/>
                        <input type="text" class="" name="subject" placeholder="Subject"/>
                        <textarea class="" name="message" rows="1" placeholder="Message" onkeyup="adjust_textarea(this)"></textarea>
                        <input type="submit" class="" name="submit" value="Send Message"/>
                    </form>
            </div>
            <div class="col-sm-6 col-sm-push-1 ani-right">
                <div class="row">
                  <div class="col-sm-12">
                      <h4>CONTACT DETAILS</h4>
                  </div>
                    <div class="col-sm-12 contact-details">
                        <!-- <address> -->
                            <br>
                            <p><i class="fa fa-phone"></i> Tel.: +27 21 671 5818</p>
                            <!--<i class="fa fa-fax"></i> Fax: +852 8765 4321<br>-->
                            <p><i class="fa fa-envelope"></i> Email: <a href="mailto:admin@ugueng.co.za">admin@ugueng.co.za</a></p>
                            <p><i class="fa fa-map-marker"></i>
                             24 Grove Avenue, Claremont, CAPE TOWN, 7708
                            </p>


                        <!-- </address> -->
                    </div>
                    <div class="col-sm-12 business-details">
                        <br>
                        <p><i class="fa fa-clock-o"></i> 9AM to 5PM, Mon to Fri</p>
                        <p><i class="fa fa-info-circle"></i> Give us a call to see how we can make your business more energy
                            efficient, generate     less carbon emissions, and improve your bottom line.</p>
                    </div>

                </div>
                <div class="row">
                    <p style="padding-bottom: 20px;"></p><br>
                </div>

            </div>
        </div>
    </div> <!-- ./contact -->
</div> <!-- ./container -->

<script src="src/scripts.js"></script>