<div class="container services">
    <br><br><br>
    <section id="energyManagement">
        <div class="row">
            <div class="col-sm-12">
                
                <h3 class=""><i class="fa fa-leaf"></i> ENERGY MANAGEMENT SERVICES</h3>
                <p>Ugu Engineering Solutions takes a holistic approach to energy management taking into consideration
                    all the fundamental drivers of energy consumption
                    the unique requirements and operational constraints of each individual client.
                </p>
                
            </div>
            
        </div>    
        <div class="row">
            <div class="col-sm-4">
                <div class="steps">
                    <img src="img/1.png" alt="step 1"> 
                    <h4>Verify electrical baseload</h4>
                    <h5>The use of smart metering provides a solid foundation for an integrated energy management program</h5>
                    <br>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-square green"></i> Verify current consumption levels</li>
                        <li><i class="fa-li fa fa-square green"></i> Identify abnormal energy usage</li>
                        <li><i class="fa-li fa fa-square green"></i> Determine areas of focus</li>
                        <li><i class="fa-li fa fa-square green"></i> Set benchmarks for savings targets</li>
                        <li><i class="fa-li fa fa-square green"></i> Identify and prioritise high impact interventions</li>    
                    </ul>
                </div>            
            </div>
            <div class="col-sm-4">
                <div class="steps">
                    <img src="img/2.png" alt="step 2">
                    <h4>Infrastructure optimisation</h4>
                    <h5>Reduce electrical load by optimising technology types and usage, while improving aesthetic amd operational effectiveness and efficiency</h5>
                    <br>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-square green"></i> Automatic load control</li>
                        <li><i class="fa-li fa fa-square green"></i> Lighting design and specification</li>
                        <li><i class="fa-li fa fa-square green"></i> Power factor correction equipment</li>
                        <li><i class="fa-li fa fa-square green"></i> Generators</li>
                        <li><i class="fa-li fa fa-square green"></i> UPS</li>
                        <li><i class="fa-li fa fa-square green"></i> Air-conditioning optimisation</li>    
                    </ul>
                </div>  
            </div>
            <div class="col-sm-4">
                <div class="steps">
                    <img src="img/3.png" alt="step 3">
                    <h4>Continuous monitoring</h4>
                    <h5>Support ongoing enterprise energy management functions through advanced and easy to use cliud-based energy management software</h5>
                    <br>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-square green"></i> Real-time energy profiling</li>
                        <li><i class="fa-li fa fa-square green"></i> Advanced analysis tools</li>
                        <li><i class="fa-li fa fa-square green"></i> Automated Tariff analysis</li>
                        <li><i class="fa-li fa fa-square green"></i> Automated exception reports</li>
                        <li><i class="fa-li fa fa-square green"></i> Billing comparisons</li>
                        <li><i class="fa-li fa fa-square green"></i> Carbon emissions reporting</li>
                        <li><i class="fa-li fa fa-square green"></i> Benchmarking</li>
                        <li><i class="fa-li fa fa-square green"></i> Energy savings tracking</li>    
                    </ul>
                </div>  
            </div>
        </div>
        <hr>
    </section>

    <section id="smartMetering">
        <div class="row">
            <div class="col-sm-12">
                <h3 class=""><i class="fa fa-bar-chart"></i> SMART METERING</h3>
                <p>
                    The cornerstone of any effective energy management program is the ability to accurately measure business energy consumption. 
                    It is impossible to effectively manage what you can’t measure, and with this in mind, Ugu Engineering Solutions has designed and
                     developed a powerful cloud-based enterprise energy management application. Unlike other smart metering software, it is designed to 
                     be easy to use for non-technical persons while still providing access to powerful information. The custom tools and reports of 
                     the system assist with all aspects of an integrated energy management program. The software is also cloud-based which gives users 
                     access to energy information from anywhere, and avoids the hassles of installation on different devices and compatibility issues.
                </p>
                <br>
            </div> 
        </div>
        <div class="row">
                <div class="col-md-4">
                    <h4><span class="feature-label"><i class="fa fa-clock-o"></i></span> REAL-TIME ENERGY MONITORING</h4>
                    <br>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check green"></i> Instantaneous assessment of store energy use</li>
                        <li><i class="fa-li fa fa-check green"></i> Easy to understand displays</li>
                        <li><i class="fa-li fa fa-check green"></i> Real-time status indicator</li>
                    </ul>
                    <!--<p>
                        All Ugu systems are real-time interacting with live data streams from devices in the field. This enables an instantaneous 
                        assessment of store energy use at any time. Ugu’s online energy management system provides easy to understand graphical 
                        displays of energy usage with advanced graphical tools allowing deeper analysis and understanding of energy use patterns.
                    </p>-->
                </div>
                <div class="col-md-8">
                    <img src="img/metering/profile.png" alt="profile" class="feature img-responsive">
                </div>
                
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-8">
                <img src="img/metering/graphtools.png" alt="Graphical analysis" class="feature img-responsive">
            </div>
            <div class="col-md-4">
                <h4><span class="feature-label"><i class="fa fa-bar-chart"></i></span> GRAPHICAL ANALYSIS TOOLS</h4>
                    <br>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check green"></i> Switch between multiple data views</li>
                    <li><i class="fa-li fa fa-check green"></i> Focus on custom selected time series</li>
                    <li><i class="fa-li fa fa-check green"></i> Gain deeper understanding of energy patterns</li>
                </ul>
                <!--<p>
                    A set of graphing tools allows different ways to view energy information for each meter site. Each view is designed to be easy 
                    to use and understand. The different graphs enable a deeper understanding of energy use patterns which can help identify 
                    abnormal and wasted energy use.
                </p>-->
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-4">
                <h4><span class="feature-label"><i class="fa fa-flag"></i></span> AUTOMATED EXCEPTION REPORTS</h4>
                    <br>
               
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check green"></i> Identify energy used outside trading hours</li>
                    <li><i class="fa-li fa fa-check green"></i> Identify faulty control mechanisms</li>
                    <li><i class="fa-li fa fa-check green"></i> Automatically email reports on wasted energy on a store by store basis </li>
                    <li><i class="fa-li fa fa-check green"></i> Complement energy awareness and employee engagement programs</li>
                </ul>
                <!--<p>
                    The costs for retailers arising due to wasted energy use (outside trading hours), can be surprisingly high. By continuously monitoring meter load
                    profiles, automatic exception reports generated on a daily basis can alert management to inefficient and wasted energy use. This can help to cut down on
                    energy costs due to faulty or ineffective switching mechanisms., and can also be very effective in complimenting an ongoing energy awareness and staff engagement program
                </p>-->
            </div>
            <div class="col-md-8">
                <img src="img/metering/energypatterns.png" alt="Promote good energy usage" class="feature img-responsive">
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-8">
                <img src="img/metering/tariffgraph.png" alt="Tariff analysis" class="feature img-responsive">
            </div>
            <div class="col-md-4">
                <h4><span class="feature-label"><i class="fa fa-line-chart"></i></span> TARIFF ANALYSIS</h4>
                    <br>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check green"></i> View alternative tariff structures</li>
                    <li><i class="fa-li fa fa-check green"></i> Analyse the cost implications of switching tariffs</li>
                    <li><i class="fa-li fa fa-check green"></i> View tariff breakdown and restriction criteria</li>
                </ul>
                <!--<p>
                    Electricity can be purchased at one of a few alternate tariff structures designed for different consumption profiles. This
                    means that some tariffs are more expensive than others depending on the consumpption profile of the store. By analysing the actual consumption data
                    for each meter, the most economical tariff can be automatically ascertained and applied for. 
                </p>-->
            </div>   
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-4">
                <h4><span class="feature-label"><i class="fa fa-money"></i></span> INVOICE AUDITS</h4>
                    <br>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check green"></i> Compare monthly bills with check meters</li>
                    <li><i class="fa-li fa fa-check green"></i> Quickly identify billing errors</li>
                    <li><i class="fa-li fa fa-check green"></i> Forecast monthly energy costs</li>
                </ul>
                <!--<p>
                    Auditing of electricity accounts can be easily handled by comparing monthly invoices to the actual consumption data recorded by Ugu remote meters. 
                    A specific billing comparison tool allows quick identification of discrepancies and provides meaningful information to assist with disputes. 
                    Having access to real-time consumption data also makes budgeting for electricity costs easier and more accurate. 
                </p>-->
            </div>
            <div class="col-md-8">
                <img src="img/metering/billing.png" alt="Invoice audits" class="feature img-responsive">
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-8">
                <img src="img/metering/initiativetracking.png" alt="Initiative Tracking" class="feature img-responsive">
            </div>
            <div class="col-md-4">
                <h4><span class="feature-label"><i class="fa fa-area-chart"></i></span> INITIATIVE TRACKING</h4>
                    <br>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check green"></i> Calculate the cost implications of energy saving interventions</li>
                    <li><i class="fa-li fa fa-check green"></i> Identify most effective energy saving measures</li>
                    <li><i class="fa-li fa fa-check green"></i> Track savings and calculate actual project returns</li>
                </ul>
                <!--<p>
                   Calculating the impact of energy saving initiatives can be a challenge. This is now made simple by using the Ugu online initiative tracking tool. 
                   The tool allows for comparison of energy usage either side of the specific implementation start and finish dates, and calculates the resulting 
                   impact on both energy consumption and costs. The results of all initiatives are stored on the system for future reference, and a summary report 
                   can be downloaded in spreadsheet format, useful for multi site initiatives.
                </p>-->
            </div>            
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-4">
                <h4><span class="feature-label"><i class="fa fa-leaf"></i></span> CARBON EMISSIONS REPORTING</h4>
                    <br>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check green"></i> Automatically calculate scope 2 carbon emissions from smart meter data</li>
                    <li><i class="fa-li fa fa-check green"></i> see impact of energy reduction on carbon footprint</li>
                    <!--<li><i class="fa-li fa fa-check green"></i> Gain deeper understanding of energy patterns</li>-->
                </ul>
                <!--<p>
                    Carbon emissions resulting from energy consumption account for as much as 70% of the total carbon footprint in a retail business. Ugu online 
                    automatically calculates the carbon emissions resulting from metered energy use on a monthly basis,making this otherwise tedious process both 
                    more accurate and less time consuming.
                </p>-->
            </div>
            <div class="col-md-8">
                <img src="img/metering/carbonemissions.png" alt="Carbon emissions" class="feature img-responsive">
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-8">
                <img src="img/metering/benchmarking.png" alt="Benchamarking" class="feature img-responsive">
            </div>
            <div class="col-md-4">
                <h4><span class="feature-label"><i class="fa fa-bar-chart"></i></span> BENCHMARKING</h4>
                    <br>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check green"></i> Multiple benchmarking metrics and statistics</li>
                    <li><i class="fa-li fa fa-check green"></i> Promote energy efficiency throughout your business by ranking sub-meters against each other</li>
                    <!--<li><i class="fa-li fa fa-check green"></i> </li>-->
                </ul>
                <!--<p>
                   Ugu online has a number of different benchmarking metrics for which reports can be generated to support energy target setting as well as quickly 
                   identify abnormal usage patterns down to a granular level. This kind of data is also useful in internal awareness programs and can be displayed on 
                   Ugu display screens for promotional purposes.
                </p>-->
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-4">
                <h4><span class="feature-label"><i class="fa fa-television"></i></span> DISPLAY SCREEN DASHBOARDS</h4>
                    <br>
                <p>
                    All energy data from smart meters can  be dsiplayed in a dashboard layout on large flatscreen TV’s. This is useful for both public and internal promotion of energy awareness.
                </p>
            </div>
            <div class="col-md-8">
                <img src="img/metering/displayscreen.png" alt="Display screen dashboard" class="feature img-responsive">
            </div>
        </div>
        <br><br>
        
    </section>
    
</div>