<div class="container services">
    <br><br><br>
    <section id="energyManagement">
        <div class="row">
            <div class="col-sm-12">
                
                <h3 class=""><i class="fa fa-leaf"></i> ENERGY MANAGEMENT SERVICES</h3>
                <p>Ugu Engineering Solutions takes a holistic approach to energy management taking into consideration
                    all the fundamental drivers of energy consumption
                    the unique requirements and operational constraints of each individual client.
                </p>
                
            </div>
            
        </div>    
        <div class="row">
            <div class="col-sm-4">
                <div class="steps">
                    <img src="img/1.png" alt="step 1"> 
                    <h4>Verify electrical baseload</h4>
                    <h5>The use of smart metering provides a solid foundation for an integrated energy management program</h5>
                    <br>
                    <ul>
                        <li>Verify current consumption levels</li>
                        <li>Identify abnormal energy usage</li>
                        <li>Determine areas of focus</li>
                        <li>Set benchmarks for savings targets</li>
                        <li>Identify and prioritise high impact interventions</li>    
                    </ul>
                </div>            
            </div>
            <div class="col-sm-4">
                <div class="steps">
                    <img src="img/2.png" alt="step 2">
                    <h4>Infrastructure optimisation</h4>
                    <h5>Reduce electrical load by optimising technology types and usage, while improving aesthetic amd operational effectiveness and efficiency</h5>
                    <br>
                    <ul>
                        <li>Automatic load control</li>
                        <li>Lighting design and specification</li>
                        <li>Power factor correction equipment</li>
                        <li>Generators</li>
                        <li>UPS</li>
                        <li>Air-conditioning optimisation</li>    
                    </ul>
                </div>  
            </div>
            <div class="col-sm-4">
                <div class="steps">
                    <img src="img/3.png" alt="step 3">
                    <h4>Continuous monitoring</h4>
                    <h5>Support ongoing enterprise energy management functions through advanced and easy to use cliud-based energy management software</h5>
                    <br>
                    <ul>
                        <li>Real-time energy profiling</li>
                        <li>Advanced analysis tools</li>
                        <li>Automated Tariff analysis</li>
                        <li>Automated exception reports</li>
                        <li>Billing comparisons</li>
                        <li>Carbon emissions reporting</li>
                        <li>Benchmarking</li>
                        <li>Energy savings tracking</li>    
                    </ul>
                </div>  
            </div>
        </div>
        <hr>
    </section>

    <section id="smartMetering">
        <div class="row">
            <div class="col-sm-12">
                <h3 class=""><i class="fa fa-bar-chart"></i> SMART METERING</h3>
                <p>
                    The cornerstone of any effective energy management program is the ability to accurately measure business energy consumption. 
                    It is impossible to effectively manage what you can’t measure, and with this in mind, Ugu Engineering Solutions has designed and
                     developed a powerful cloud-based enterprise energy management application. Unlike other smart metering software, it is designed to 
                     be easy to use for non-technical persons while still providing access to powerful information. The custom tools and reports of 
                     the system assist with all aspects of an integrated energy management program. The software is also cloud-based which gives users 
                     access to energy information from anywhere, and avoids the hassles of installation on different devices and compatibility issues.
                </p>
                <br>
            </div> 
        </div>
        <div class="row">
                <div class=" col-md-5">
                    <h4><span class="feature-label">Real-time energy monitoring</span></h4>
                    <p>All Ugu systems are real-time interacting with live data streams from devices in the field. This enables an instantaneous 
                   assessment of store energy use at any time. Ugu’s online energy management system provides easy to understand graphical 
                   displays of energy usage with advanced graphical tools allowing deeper analysis and understanding of energy use patterns.
                </p>
                </div>
                <div class="col-md-7">
                    <img src="img/metering/profile.png" alt="profile" class="feature img-responsive">
                </div>
                
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-7">
                <img src="img/metering/graphtools.png" alt="Graphical analysis" class="feature img-responsive">
            </div>
            <div class="col-md-5">
                <h4><span class="feature-label">Graphical analysis tools</span></h4>
                <p>
                    A set of graphing tools allows different ways to view energy information for each meter site. Each view is designed to be easy 
                    to use and understand. The different graphs enable a deeper understanding of energy use patterns which can help identify 
                    abnormal and wasted energy use.
                </p>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-5">
                <h4><span class="feature-label">Automated exception reports</span></h4>
                <p>
                    The costs for retailers arising due to wasted energy use (outside trading hours), can be surprisingly high. By continuously monitoring meter load
                    profiles, automatic exception reports generated on a daily basis can alert management to inefficient and wasted energy use. This can help to cut down on
                    energy costs due to faulty or ineffective switching mechanisms., and can also be very effective in complimenting an ongoing energy awareness and staff engagement program
                </p>
            </div>
            <div class="col-md-7">
                <img src="img/metering/energypatterns.png" alt="Promote good energy usage" class="feature img-responsive">
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-7">
                <img src="img/metering/tariffgraph.png" alt="Tariff analysis" class="feature img-responsive">
            </div>
            <div class="col-md-5">
                <h4><span class="feature-label">Tariff analysis</span></h4>
                <p>
                    Electricity can be purchased at one of a few alternate tariff structures designed for different consumption profiles. This
                    means that some tariffs are more expensive than others depending on the consumpption profile of the store. By analysing the actual consumption data
                    for each meter, the most economical tariff can be automatically ascertained and applied for. 
                </p>
            </div>   
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-5">
                <h4><span class="feature-label">Invoice audits</span></h4>
                <p>
                    Auditing of electricity accounts can be easily handled by comparing monthly invoices to the actual consumption data recorded by Ugu remote meters. 
                    A specific billing comparison tool allows quick identification of discrepancies and provides meaningful information to assist with disputes. 
                    Having access to real-time consumption data also makes budgeting for electricity costs easier and more accurate. 
                </p>
            </div>
            <div class="col-md-7">
                <img src="img/metering/billing.png" alt="Invoice audits" class="feature img-responsive">
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-7">
                <img src="img/metering/initiativetracking.png" alt="Initiative Tracking" class="feature img-responsive">
            </div>
            <div class="col-md-5">
                <h4><span class="feature-label">Initiative tracking</span></h4>
                <p>
                   Calculating the impact of energy saving initiatives can be a challenge. This is now made simple by using the Ugu online initiative tracking tool. 
                   The tool allows for comparison of energy usage either side of the specific implementation start and finish dates, and calculates the resulting 
                   impact on both energy consumption and costs. The results of all initiatives are stored on the system for future reference, and a summary report 
                   can be downloaded in spreadsheet format, useful for multi site initiatives.
                </p>
            </div>            
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-5">
                <h4><span class="feature-label">Carbon Emissions</span></h4>
                <p>
                    Carbon emissions resulting from energy consumption account for as much as 70% of the total carbon footprint in a retail business. Ugu online 
                    automatically calculates the carbon emissions resulting from metered energy use on a monthly basis,making this otherwise tedious process both 
                    more accurate and less time consuming.
                </p>
            </div>
            <div class="col-md-7">
                <img src="img/metering/carbonemissions.png" alt="Carbon emissions" class="feature img-responsive">
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-7">
                <img src="img/metering/benchmarking.png" alt="Benchamarking" class="feature img-responsive">
            </div>
            <div class="col-md-5">
                <h4><span class="feature-label">Benchmarking</span></h4>
                <p>
                   Ugu online has a number of different benchmarking metrics for which reports can be generated to support energy target setting as well as quickly 
                   identify abnormal usage patterns down to a granular level. This kind of data is also useful in internal awareness programs and can be displayed on 
                   Ugu display screens for promotional purposes.
                </p>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-5">
                <h4><span class="feature-label">Display Screens</span></h4>
                <p>
                    All energy data from smart meters can  be dsiplayed in a dashboard layout on large flatscreen TV’s. This is useful for both public and internal promotion of energy awareness.
                </p>
            </div>
            <div class="col-md-7">
                <img src="img/metering/displayscreen.png" alt="Display screen dashboard" class="feature img-responsive">
            </div>
        </div>
        <br><br>
        
    </section>
    
</div>